################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WpfApp/obj/Debug
/WpfApp/bin/Debug
/WpfApp/.vs/WpfApp/v15
/.vs
